<div id="menu">

  <div class="carre_matrice">
      <a ng-href="#!/matrice">
          <div>
              <img src="images/matrice.png" class="images">
              <p class="texte">Matrices</p>
          </div>
      </a>
  </div>


  <div class="carre_charge">
      <a ng-href="#!/relevemeteo">
          <div>
              <img src="images/courbe.png" class="images">
              <p class="texte">Courbe de charge</p>
          </div>
      </a>
  </div>

  <div class="carre_heatmap">
      <a ng-href="#!/heatmap">
          <div>
              <img src="images/heatmap.png" class="images">
              <p class="texte">Heatmap</p>
          </div>
      </a>
  </div>

</div>
